doctype html
html(lang="en/us")  
    head
        title navigate
        link(href='quest-min.css', rel='stylesheet',type="text/css")
    body(class="quest__body")
        main
            h1 navigate
            div(id='world')
                div(id='map')
                    div(id='pov')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js')
            script(src='https://code.jquery.com/jquery-2.2.4.min.js')
            script(src='quest-min.js')
            