doctype html
html(lang="en/us")  
    head
        title Component - Avatar 
        link(href='../../../quest-min.css', rel='stylesheet',type="text/css")
    body(class="quest__body")
        main
            h1 Component - Avatar 
            div(id='world')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js')
            script(src='https://code.jquery.com/jquery-2.2.4.min.js')
            script(src='script.js')
            script(src='../library/quest-lib-min.js')
            script.
                window.addEventListener('load', init, false);

                function init() {
                    console.log(0)
                    createScene();
                    createPlane();
                    createLights();

                    renderer.render(scene, camera);

                }
            
            
            